---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
<head>
  {%- include head.html -%}
  <script>
    {%- include scripts/utils.js -%}
    {%- include scripts/lib/throttle.js -%}
    {%- include scripts/lib/lazyload.js -%}
  </script>
  {%- include scripts/variables.html -%}



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121188128-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121188128-1');
  </script>
</head>
<body>
  <div class="root" data-is-touch="false">
    {{ content }}
  </div>
  <script>{%- include scripts/common.js -%}</script>
</body>
</html>